.map {
    margin: auto;
    position: relative;
    top: -16px;
}

.info-title {
    color: #ffffff;
    display: inline-block;
}

.info-text {
    color: #ffffff;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 20px;
    margin-top: -9px;
    border-radius: 5px;
    background: rgba(170, 187, 196, 0);
    outline: none;
        opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: fixed;
    left: 25%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(139, 165, 199);
    cursor: pointer;
    z-index: 1000;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(139, 165, 199);
    cursor: pointer;
}

.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.51);
    margin-top: 0vh;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 1000;

}

.sidenav a {
    padding: 0px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    position: relative;
    z-index: -1;

}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: relative;
    display: inline-block;
    float: right;
    top: -10px;
    left: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#timeline {
    z-index: -1;
    height: 1px;
    margin-left: 1%;
    width: 98%;
    background-color: #aabbc4;


}

.container {
    margin-left: -5%;
    width: 90%;
    height: auto;
}

.mfirst {
    top: 15px;
    left: -0.5%;
    position: relative;
}

.m2 {
    top: 15px;
    left: 33%;
    position: relative;
}

.m3 {
    top: 15px;
    left: 66%;
    position: relative;
}


.mlast {
    top: 15px;
    left: 98%;
    position: relative;
}


.legend-entry {
    float: left;
    position: relative;
    -moz-transform: rotate(-45.0deg); /* FF3.5+ */
    -o-transform: rotate(-45.0deg); /* Opera 10.5 */
    -webkit-transform: rotate(-45.0deg); /* Saf3.1+, Chrome */
}

.ph-button {

    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 5px 5px 5px;
    width: 80px;
    font-size: 14px;

}

.ph-btn-color {

    border-color: #a7a8a6;
    background-color: rgb(139, 165, 199);

}
.ph-btn-color:hover, .ph-btn-green:focus, .ph-btn-green:active {
    background-color: rgb(92, 106, 131);
    border-color: #60615f;
}

.btn-container {
    margin-bottom: 15px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}